@media (min-width: 0px) and (max-width: 780px) {
    .mobile-nav {
        display: block;
    }
    .mobile-nav .main-logo a img {
      width: 70px;
    }

    #header {
      display: none;
    }

    /* sections padding    */

    #proceso {
      padding-top: 30px;
    }
    #galeria {
      padding: 30px 0px;
    }
    #cta {
      padding-top: 30px;
    }

    .input {
        min-width: 90%;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .textarea {
        min-width: 90%;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    input[type="submit"] {
        min-width: 94%;
    }




}
@media (min-width: 0px) and (max-width: 640px) {
    .item {
        width: 100%;
        margin-bottom: 20%;
        margin-right: 0px;
    }
}

@media (min-width: 0px) and (max-width: 380px) {
  .column {
    font-size: 10px;
  }
}

/*
     FILE ARCHIVED ON 10:18:49 Jan 28, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:37:39 Dec 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.508
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.014
  esindex: 0.013
  cdx.remote: 5.676
  LoadShardBlock: 420.208 (3)
  PetaboxLoader3.datanode: 118.388 (4)
  PetaboxLoader3.resolve: 452.361 (2)
  load_resource: 155.677
*/